.c-navbar {
    .nav-link {
        transition: all .5s ease;
        margin-bottom: 10px;
        &:hover {
            transform: scale(1.05);
        }
        span {
            display: none;
            @include sm {
                display: inline-block;
            }
        }
    }
}

.btn-primary {
    color: white !important;
}

.btn-outline-primary {
    &:hover {
        color: white !important;
    }
}

#js-image-preview {
    max-width: 200px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.table {
    td {
        vertical-align: middle;
    }
}

.z-index-front {
    z-index: 1 !important;
}
