.c-navbar {
    .nav-link {
        transition: all .5s ease;
        margin-bottom: 10px;
        &:hover {
            transform: scale(1.05);
        }
        span {
            display: none;
            @include sm {
                display: inline-block;
            }
        }
    }
}

.btn-primary {
    color: white !important;
}

.btn-outline-primary {
    &:hover {
        color: white !important;
    }
}

#js-image-preview {
    max-width: 200px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.table {
    td {
        vertical-align: middle;
    }
}

.swiper {
    height: 85vh;

    .swiper-slide {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.c-prenav {
    border-color: rgba($color: #FFF, $alpha: 0.1) !important;
    a {
        text-decoration: none;
        color: var(--bs-light);
        transition: all .5s ease;
        &:hover {
            color: var(--bs-primary);
        }

        span {
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
    }
}
