.c-breadcrumbs {
    list-style: none;
    display: flex;
    padding-left: 0;
    li {
        &:not(:last-child) {
            &::after {
                content: ">";
                padding: 0 10px;
            }
        }
    }
}