.card-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    object-fit: cover;
    top: 0;
    left: 0;
    overflow: hidden;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.z-index-1 {
    z-index: 1;
}

.accordion-item {
    border-color: var(--bs-gray);
}

.accordion-button {
    color: var(--bs-light);
    background: var(--bs-dark);
    &::after {
        filter: brightness(0%) invert(70%);
    }

    &:not(.collapsed) {
        color: var(--bs-light);
        background: var(--bs-dark);
    }
}

.accordion-body {
    background: var(--bs-dark);
}